
div.zecops-anti-phishing-extension-tooltip button {
    background-color: #bbb;
    border: none;
    color: #111;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
}

#back-button {
    color: white;
    background-color: #5c5cd4;
}

#enable-button {
    float: right;
    text-align: right;
    justify-content: flex-end;
}

#learn-more-text {
    display: none;
}

#learn-more-button {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
}

div.zecops-anti-phishing-extension-tooltip {
    font-size: 0.8rem;
    direction: ltr;
    text-align: left;
}

div.zecops-anti-phishing-extension-tooltip * {
    color: #111;
}

div.zecops-anti-phishing-extension-tooltip a {
    color: #111;
}

div.zecops-anti-phishing-extension-tooltip hr {
    border: 1px solid white;
    background-color: white;
    margin-top: 16px;
    margin-bottom: 8px;
}

div.zecops-anti-phishing-extension-tooltip
    .zecops-anti-phishing-extension-tooltip-heading {
    font-size: 1rem;
    /**font-weight: 500;*/
    margin: 16px 8px;
}

div.zecops-anti-phishing-extension-tooltip
    .zecops-anti-phishing-extension-tooltip-warnings > div {
    margin: 16px 8px;
}

/*div.zecops-anti-phishing-extension-tooltip
    .zecops-anti-phishing-extension-tooltip-domain {
    display: inline-block;
    word-break: break-all;
    border: 1px solid white;
    border-radius: 4px;
    padding: 3px 6px;
}

div.zecops-anti-phishing-extension-tooltip
    .zecops-anti-phishing-extension-tooltip-actions {
    display: flex;
}

div.zecops-anti-phishing-extension-tooltip
    .zecops-anti-phishing-extension-tooltip-actions > a {
    flex: 1;
    display: block;
}

div.zecops-anti-phishing-extension-tooltip
    .zecops-anti-phishing-extension-tooltip-actions > a:not(:last-child) {
    border-right: 2px solid white;
}

div.zecops-anti-phishing-extension-tooltip
    .zecops-anti-phishing-extension-tooltip-actions-icon {
    margin-bottom: 4px;
}*/
